@model UserViewModel

@{
    ViewBag.Title = Model.User.FirstName + " " + Model.User.LastName;
    Layout = "~/Views/Shared/_Layout_mainLayout.cshtml";
}


@Html.Partial("_Partial_Profile_Header_Work_Education", Model)
@Html.Partial("_Partial_Profile_EditHeaderForm", Model)
@Html.Partial("_Partial_Add_Education", Model)



@* Skills *@

<div class="skills">
    <button type="button" class="btn btn-link pen3" data-toggle="modal" data-target="#myModal">
        <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z" class="large-icon" style="fill: currentColor"></path></svg>
    </button>


    <h4 style="font-size: 135%; color: rgba(0, 0, 0, 0.6); margin-bottom:25px; ">Skills & Endorsements</h4>

    <h4 class="skill-name">Structural design</h4>

</div>





<div class="footer">
    <h4 style="font-weight: bold; margin-left:35px">Linked<i class="fab fa-linkedin-in" style="background-color:#0073B0; color:white; padding:3px; border-radius:2px; font-size:90%; margin-left:2px;font-weight: 100;"></i></h4>

    <div class="footercontent">

        <div class="about">

            <p style="display:block; color:#0073B0; font-size:90%;">About</p>
            <p style="display:block; color:gray; font-size:90%;">Careers</p>
            <p style="display:block; color:gray; font-size:90%; ">Adertising</p>
            <p style="display:block; color:gray; font-size:90%;">Mobile</p>

        </div>

        <div class="talentsolution">

            <p style="display:block; color:#0073B0; font-size:90%; ">Talent Solutions</p>
            <p style="display:block; color:gray; font-size:90%; ">Marketing Solutions</p>
            <p style="display:block; color:gray; font-size:90%; ">Sales Solutions</p>
            <p style="display:block; color:gray; font-size:90%;">Small Business</p>

        </div>

        <div class="community">

            <p style="display:block; color:#0073B0; font-size:90%; ">Community Guidelines</p>
            <p style="display:block; color:gray; font-size:90%;">Privacy & Terms </p>
            <p style="display:block; color:gray; font-size:90%;">Send feedback </p>
            <p style="display:block; color:gray; font-size:90%; ">Safety center</p>

        </div>

        <div class="questions">

            <p style="display:block; color:gray; font-weight:bold; "><i class="far fa-question-circle" style="color:#0073B0;"></i> Questions?</p>
            <p style="display:block; color:gray; font-weight:bold;"><i class="fas fa-cogs" style="color:#0073B0;"></i> Manage your account and privacy</p>



        </div>

    </div>

</div>





