* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #EEE;
}

#underConstractionPage {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#underConstractionPage div {
    height: auto;
    width: 350px;
    fill: #283e4a;
}

#underConstractionPage p{
    margin: 55px 0;
    font-size: 30px;
    font-style: oblique;
    user-select: none;
    fill: #283e4a;
}