#message_box {
    margin: 40px 0;
}

#message_chatters {
    height: 80vh;
    background-color: white;
    border: 1px solid #c3c3c3;
}

#message_chat_board {
    height: 80vh;
    background-color: white;
    border-bottom: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}


#message_chatters_title {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px;
    border-bottom: 1px solid #c3c3c3;
}

#message_chatters_title p {
    margin: 0;
    font-weight: 500;
}


#message_chatters_search {
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 2px;
}

#message_chatters_search svg {
    height: 30px;
    width: auto;
    position: relative;
    top: 5px;
}

#message_chatters_search input {
    width: 100%;
    height: 100%;
    border: none;
    color: #283e4a;
    height: 34px;
    font-size: 14px;
}

#message_chatters_search input:focus {
    outline: none;
}

#message_chatters_search form {
    width: calc(100% - 30px);
}

#message_chatters_contacts {
    height: calc(80vh - 90px);
    border-top: 1px solid #c3c3c3;
    overflow-y: auto;
    flex-direction: column;
}

.message_chatters_contacts_empty {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#message_board_title {
    height: 45px;
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    align-content: center;
}

/*#message_board_title div:nth-child(1){
    position: relative;
    right: 27%;
}

#message_board_title div:nth-child(2) {
    position: relative;
    left: 26%;
    top: 15%;
}*/

#messaging_name {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

#messaging_work {
    margin: 0;
    font-size: 10px;
}


#message_board_messages {
    height: calc(80vh - 255px);
    overflow-y: auto;
}

#message_board_messages > div {
    width: 100%;
    display: flex;
}

.message_board_pics {
    height: 70px;
    width: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_board_pics div {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.message_board_pics img {
    height: 100%;
    width: 100%;
}


.message_board_body {
    margin: 10px 5px;
}

.message_board_body p {
    margin: 0;
}

.message_board_body div:first-child {
    display: flex;
}

.message_board_body div p:first-child {
    font-weight: 700;
}

.message_board_body div p {
    font-size: 13px;
}

.message_board_body div p:nth-child(2)::before {
    content: '•';
    text-transform: lowercase;
}

.message_board_body div {
    font-size: 14px;
}


#message_board_new {
    height: 150px;
    border-top: 2px solid #c3c3c3;
}




#message_board_new form {
    width: 100%;
}

#message_board_new textarea {
    resize: none;
    border: none;
    width: 100%;
    padding: 10px 10px;
    height: 100%;
    max-height: 100%;
}

#message_board_new textarea:focus {
    outline: none;
}


#message_board_attach {
    height: 60px;
    background-color: #c3c3c340;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px;
}


#message_board_attach button {
    height: 30px;
    width: 90px;
    background-color: #006097;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    border: none;

}

#message_board_attach button.disabled{
    background-color: lightgray;
    color: darkgray;
}

#message_board_attach button:focus {
    outline: none;
}








.chatter_pane {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.chatter_pane:hover {
    cursor: pointer;
    background-color: #f3f6f8;
}

.chatter_pane.active{
    background-color: #f3f6f8;
}

.chatter_pane.selected {
    background-color: #f3f6f8;
}

.chatter_pane_sidebar {
    height: 100%;
    width: 1%;
    min-width: 1%;
}

.chatter_pane_sidebar.active{
    background-color: #007ba0;
}

.chatter_pane_pic {
    width: 25%;
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.chatter_pane_pic div {
    background-color: blue;
    height: 70px;
    min-width: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.chatter_pane_info {
    width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 23px 0;
}

.chatter_pane_info div:first-child {
    font-weight: 600;
}

.hatter_pane_info div:nth-child(2) {
    font-style: italic;
}

.chatter_pane_time {
    width: 24%;
    min-width: 24%;
    padding: 14px 0 0 8px;
    font-size: 15px;
}
