nav {
    padding: 0;
    margin: 0;
    height: 52px;
}

#navitgation_bar {
    padding: 0 12%;
    background: #283e4a;
    height: 52px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

#under_nav {
    display: inline-block;
    height: 52px;
    width: 100vw;
}

#nav_left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#nav_logo {
    display: flex;
    height: 52px;
    width: 52px;
    justify-content: center;
    align-items: center;
}

#nav_logo:hover {
    cursor:pointer;
}

#nav_linkedLogo {
    height: 75%;
    width: auto;
    fill: #0077B5;
}

#nav_logo svg rect {
    margin: 50px;
    height: 70%;
    width: auto;
}


#nav_search {
    height: 65%;
    width: 280px;
    background-color: #e1e9ee;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

#nav_search_icons {
    position: fixed;
    height: 0;
    width: 0;
    z-index: 1;
}

#nav_search svg {
    height: 17px;
    opacity: .9;
    padding: 0 0 0 7px;
    position: relative;
    top: -14px;
}

#nav_search svg.fouced {
    height: 26px;
    width: auto;
    fill: #283e4a;
    position: relative;
    left: 238px;
    top: -14px;
}

#nav_search_icon_background.fouced {
    height: 34px;
    width: 45px;
    background: rgba(55, 113, 144, .25);
    position: relative;
    top: -44px;
    left: 235px;
}

#nav_search form {
    width: 100%;
}

#nav_search input {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 0 8px 0 28px;
    color: #283e4a;
    height: 34px;
    background-color: #e1e9ee;
    font-size: 14px;
}

#nav_search input.fouced {
    padding: 0 50px 0 10px;
}


#nav_search_result_underlay {
    position: fixed;
    width: 0;
    height: 0;
}

#nav_search_result_underlay.hidden {
    display: none;
}

#nav_search_result_board {
    position: relative;
    top: 29px;
    width: 280px;
    transition: .3s;
}

#nav_search_result_board > div{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 0 0 20px;
    background-color: #6d83892b;
}

#nav_search_result_board > div:hover{
    background-color: #57b4c32b;
    cursor: pointer;
}

#nav_search_result_board div p{
    margin: 0;
}

#nav_search_result_board div span{
    background-color: #ffa73936;
}


#nav_icons {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #c7d1d8;
}

#nav_icons > li {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(199, 209, 216);
}


#nav_icons li svg {
    fill: #283e4a;
    height: 25px;
    width: auto;
    transition: color .2s;
}

#nav_icons li > p {
    font-size: 9px;
    margin: 0;
    display: -webkit-box;
    color: #c7d1d8;
    font-weight: 400;
    transition: color .2s;
    user-select: none;
}

#nav_seperator {
    background-color: #c7d1d8;
    width: 1px;
    height: 100%;
    margin: 0 0 0 10px;
    opacity: .4;
}


#nav_profile_container {
    position: fixed;
    top: 52px;
}


.nav_profile_menu {
    position: relative;
    left: -50px;
    height: 350px;
    width: 250px;
    background: white;
    transition: .3s;
    overflow: hidden;
    box-shadow: 0px 10px 30px -2px #c5c5c5;
    padding: 10px 20px;
}

.nav_profile_menu:hover{
    cursor: default;
}

.hide_menu {
    height: 0;
    transition: .3s;
    padding: 0 20px;
}


.nav_profile_menu > li {
    list-style: none;
}

#nav_profile_menu_profile {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}


#nav_profile_info {
    display: flex;
}

#nav_profile_img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    min-width: 60px;
    background-color: black;
}

#nav_profile_name {
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 3px 0;
}

#nav_profile_name p {
    font-size: 14px;
    margin: 0;
}


#nav_profile_view p {
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 10px 0;
    color: #0073b1;
    font-weight: 600;
}
#nav_profile_view p:hover{
    cursor: pointer;
}

#nav_profile_view p:hover {
    background-color: #0073b121
}
