
<div class="posts">
    <div class="post_info">
        <div>
            <img id="img-circle" src="~/Content/images/05.jpg" class="img-circle" alt="Cinque Terre" width="40" height="40">
            <div id="profil_name"> Amr Rizk </div>
            <div id="profil_job"> Civil Engineering Informatics </div>

        </div>

    </div>
    <div class="post_caption">
        <p class="text-justify">
            Steel Structure for Sale Why Choose our Steel Structure?
            ü Easy to joint mo dules together
            of your steel structure save your assemble
            and install budget. ü The earlier your steel structure
            to be used, the earlier you could make profit from your
            project. ü All modules and components of steel...
        </p>

    </div>
    <div class="post_media">
        <img id="" src="~/Content/images/012.jpg" width="550" height="300">
    </div>
    <div class="post_Engagment01">
        <div id="like_comment_share">
            <span>like</span>
            <span>Comment</span>
            <span></span>
        </div>
    </div>
    <div class="post_Engagment02">
        <div class="like_comment_share">
            <button class="btn btn-default" type="button" style="border:none" aria-haspopup="false"
                    aria-expanded="false">
                Like <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
            <button class="btn btn-default" type="button" style="border:none" aria-haspopup="true"
                    aria-expanded="false">
                Comment <span class=glyphicon glyphicon-comment"></span>
            </button>
            <button class="btn btn-default" type="button" style="border:none" aria-haspopup="true"
                    aria-expanded="false">
                Share <span class="glyphicon glyphicon-share-alt"></span>
            </button>
        </div>




    </div>


</div>  