.base_div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

.input-validation-error {
    border: solid 1px red;
}

.notvalid {
    color: red;
}


/* First part */

.profileimage img {
    width: 152px;
    height: 152px;
    border: whitesmoke solid 4px;
    border-radius: 50%;
}

.background-profile-images {
    position: relative;
}

.profileimage {
    position: absolute;
    top: 110px;
    left: 25px;
}

.name-headline-country {
    margin-top: 70px;
    margin-left: 25px;
}

.headline {
    color: darkslategrey;
}

.country {
    color: gray;
}

.btn-link {
    padding: 0;
    text-align: center;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    position: relative;
}

.current-education-contact-friends {
    margin-top: 80px;
    margin-right: 35px;
}

.friends {
    padding-top: 4px;
}

.pen {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 125%;
}
.pen-photo-edit {
    /*position: absolute;
    top: 330px;
    left: 170px;
    font-size: 10%;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px;
    background-color: #EEE;*/
}



.summary {
    padding: 25px;
    width: 100%;
}

.first-part {
    width: 793px;
    border: solid lightgrey 1px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px #888888;
    margin-left: 35px;
}

.virtualdiv {
    width: 85%;
    border-top: solid lightgrey 1px;
    margin: auto;
}

/* Education part */



.eduaction-image {
    /*position: relative;
    left: 5px;
    padding:0;
    margin:0;*/
}


.education {
    width: 793px;
    position: relative;
    width: 793px;
    border: solid lightgrey 1px;
    padding: 25px;
    padding-top: 20px;
    box-shadow: 1px 1px 1px #888888;
    margin-bottom: 15px;
    margin-left: 35px;
}

.eduaction-data-image-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right:10px;
}

.eduaction-data-image {
    width: 37%;
    display: flex;
    justify-content: space-around;
}

.eduaction-data {
    display: flex;
    flex-direction: column;
    
}

.plus-icon {
    color: #0073b1;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 125%;
}

.pen2 {
    position: absolute;
    top: 65px;
    right: 35px;
    font-size: 125%;
}

.uni-name {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 120%;
    margin: 0;
}

.uni-certificate {
    color: rgba(0, 0, 0, 0.7);
    font-size: 100%;
    margin:0;
}
.uni-results {
    margin: 0;
}
.uni-date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 90%;
    margin: 0;
    font-size: 90%;
}
.uni-activity {
    margin: 0;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.6);
}

.uni-description {
    margin: 0;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.6);
}
.education-edit-btn {
    margin-bottom: 5px;
}
.education-buttons
{
    display:flex;

}
    .education-buttons button {
        margin-left: 2px;
        margin-right: 2px;
    }
/* Edit Form part */
.editform_body {
    position: relative;
    top: 55px;
}

.profileimage img {
    width: 152px;
    height: 152px;
    border: whitesmoke solid 4px;
    border-radius: 50%;
}

.background-profile-images {
    position: relative;
}

.profileimage {
    position: absolute;
    top: 110px;
    left: 25px;
}

.modal-body-header-editform {
    width: 100%;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.required:after {
    content: '*';
    color: #0073b1;
    margin-left: 2px;
}

.labels {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
}

 select, textarea {
    max-width: 315px;
    min-width: 315px;
    min-height:40px;
}

input {
    max-width: 315px;
}

.largetextarea, .largetextbox, .largedroplist {
    max-width: 660px;
}

.form-control {
    height: 35px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}

.fullname {
    display: flex;
    justify-content: space-between;
    width:85%;
   
}

.first_name_edit, .last_name_edit {
    max-width: 240px;
}

.form-group {
    width: 85%;
}

.peneditform {
    display: block;
    position: absolute;
    top: 240px;
    left: 140px;
    font-size: 120%;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 4px 4px 4px ghostwhite;
}

.current-position, .new-education {
    position: relative;
}


.add-new-position, .add-new-education {
    position: absolute;
    right: 30px;
    top: 60px;
    font-weight: bold;
    font-size: 90%;
}

.first_name_edit
{
    margin-right:20px;
}
/* Education Add part */
.modal-body-addeducation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.duration-addeducation {
    width: 85%;
    display: flex;
    justify-content: space-between;
}


.uni-name {
    font-size: 120%;
    font-weight: bold;
}



/* Education Edit part */

.modal-body-editeducation {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.duration-editeducation {
    display: flex;
    justify-content:space-between;
    width: 85%;

}


/* Education Delete part */

.modal-delete-header {
    padding: 20px;
    background-color: #c31d1d;
}
/* Skills part */
.skills {
    width: 793px;
    position: relative;
    width: 793px;
    border: solid lightgrey 1px;
    padding: 25px;
    padding-top: 0px;
    box-shadow: 1px 1px 1px #888888;
    margin-bottom: 15px;
    margin-left: 35px;
}

.skill-data-image {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.pen3 {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 125%;
}

.skill-name {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 115%;
    margin-top: 5px;
    margin-bottom: 5px;
}



.skill-buttons
{
    display:flex;
    flex-direction:row;
}

.skill-buttons button{

    margin-left:2px;
    margin-right:2px;

 }
.skill-data-image-button {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.skill-data-image {
    margin-left:22px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-data {
    display: flex;
    flex-direction: column;
}



.skill-level {
    color: rgba(0, 0, 0, 0.7);
    font-size: 100%;
    margin: 0;
}
.skill-name {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 120%;
    margin: 0;
}


/* Footer part */
.footercontent {
    display: flex;
    justify-content: space-between;
    width: 793px;
    margin-left: 35px;
}



#profile_skill_menu_underlay {
    position: fixed;
    height: 0;
    width: 0;
}

#profile_skill_menu_underlay.hidden{
    display: none;
}

#profile_skill_menu {
    width: 315px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid gray;
    background-color: white;
    border-top: none;
}

#profile_skill_menu div{
    display: flex;
    padding: 10px;
    min-height: 40px;
}

#profile_skill_menu div:hover{
    background-color: lightgray;
    cursor: pointer;
}

#profile_skill_menu div p{
    margin: 0;
}



/* Override Bootstrap */

.profile_modal_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

