

<div class="profil01">
    <div class="profil02">

        <div class="img">
            <img class="cover" src="~/Content/images/10.png" width="200" height="60">
            <img src="~/Content/images/05.jpg" class="img-circle" alt="Cinque Terre" width="65" height="65">
        </div>
        <div class="profil_name"> Amr Rizk </div>
        <div class="profil_job"> Civil Engineering Informatics </div>
    </div>
    <div class="profil03">
        <ul class="list-unstyled list-group">
            <li> Who's visit your profile </li>
            <li> Views of your Post </li>
            <li> Your saved articles </li>

        </ul>


    </div>
    <div class="profil04">
        Try Premium Free for 1 Month
    </div>

</div>