@model  HomeViewModel

<div class="profil01">
    <div class="profil02">

        <div class="img">
            <img class="cover" src="~/Content/images/10.png" width="200" height="60">
            @{
                if (Model.User.ProfilePicture == null)
                {
                    <img id="HomeProfileImge" src="~/images/default.png" class="img-circle" alt="Cinque Terre" width="65" height="65">

                }
                else
                {
                    <img id="HomeProfileImge" src="~/Content/images/@Model.User.ProfilePicture" class="img-circle" alt="Cinque Terre" width="65" height="65">

                }
            }
        </div>
        <div class="profil_name"> @Model.User.FirstName @Model.User.LastName </div>
        @{ 
            if (Model.User.UserEductions!=null)
            {

        <div class="profil_job">@Model.User.UserWorkplaces</div>
            }
        }
    </div>
    <div class="profil03">
        <ul class="list-unstyled list-group">
            <li> Who's visit your profile </li>
            <li> Views of your Post </li>
            <li> Your saved articles </li>

        </ul>


    </div>
    <div class="profil04">
        Try Premium Free for 1 Month
    </div>

</div>